body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    overflow: hidden;
}

*::-webkit-scrollbar {
    display: none
}

body {
    background-image: url('https://source.unsplash.com/collection/827743/');
    height: 100%;
    width: 100%;
    padding: 0;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}
.bgimg2 {
    background: inherit;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    z-index: 42069;
    font-family: "Courier New", Courier, monospace;
    background-clip: text;
    color: transparent;
    font-size: 25px;
    filter: invert(1) grayscale(1) contrast(2.35);
}

.topleft {
    top: 0;
    left: 16px;
    font-size: 20px;
}

.bottomleft > * {
    bottom: 0;
    position: fixed !important;
    color: black;
    left: 16px;
}

.middle {
    margin-top: 15%;
    width: 100%;
    text-align: center;
}

.topleft, .middle, .bottomleft {
    /*
    background: inherit;
    background-clip: text;
    color: transparent;
    position: absolute;

   filter: invert(1) grayscale(1) contrast(9);

*/
    position: relative;
}

hr {
    margin: auto;
    width: 40%;
}
